# Xcode
#
build/
DerivedData/
*.xcworkspace
!default.xcworkspace
xcuserdata/
*.xcuserstate
*.moved-aside
*.xcuserdatad
*.swp
*.xcscheme
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Add this line if you want to avoid checking in binaries from Swift Package Manager dependencies.
# .build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#source-control
Pods/
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts
# Add this line if you want to avoid checking in binaries from Carthage dependencies.
# Carthage/Build/

# Accio dependency management
Dependencies/
.accio/

# fastlane
#
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/
*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots/**/*.png
*/fastlane/test_output

# Code Injection
#
# You can ignore this directory if you have the injection plugin installed from
# https://github.com/johnno1962/injectionforxcode
#
# See http://johnholdsworth.com/injection.html for details.
# iOSInjectionProject/

# AppCode
#
.idea/

# SPM Packages
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
Packages/
# Add this line if you want to avoid checking in binaries from Swift Package Manager dependencies.
.build/

# Playgrounds
#
timeline.xctimeline
playground.xcworkspace

# Other
#
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
.idea/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Realm
#
# We strongly suggest to not store the Realm database file in your repository
*.realm
*.realm.*
*.realm.lock

# Xcode
#
.DS_Store
*.xcassets

# Generated files
#
*.plist

# macOS
#
*.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon
Icon\r

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.hotfiles.btree
.quota.ops.user
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
